[secret]

wifi_ssid = CHANGE_ME_TO_THE_REAL_SSID
wifi_password = CHANGE_ME_TO_THE_REAL_WIFI_PASSWORD

web_server_host_name = myesp8266
web_server_port = 80

ota_upload_host_name = myesp8266
ota_upload_host = myesp8266.local
ota_upload_port = 8266
ota_upload_password = MYPASSSWORDHERE
ota_upload_password_md5 = CHANGE_ME_TO_THE_GENERATED_MD5

; Values to be reused in other envs
; https://docs.platformio.org/en/latest/projectconf/interpolation.html
[common]

; https://docs.platformio.org/en/latest/projectconf/section_env_build.html#build-flags
project_global_defines_build_flags =
    '-D SERIAL_BITS_PER_SECOND=115200'

    ; brown GND
    ; red 3v3
    ; orange D2 [pin4 at NodeMcu]
    '-D SERVO_PIN=4'

    '-D WIFI_SSID="${secret.wifi_ssid}"'
    '-D WIFI_PASSWORD="${secret.wifi_password}"'

    '-D WEB_SERVER_PORT=${secret.web_server_port}'
    '-D WEB_SERVER_HOST_NAME="${secret.web_server_host_name}"'

    '-D OTA_UPDATE_PORT=${secret.ota_upload_port}'
    '-D OTA_UPDATE_HOST="${secret.ota_upload_host_name}"'

    '-D FURNACE_HEATER_BUTTON_PRESSING_ANGLE=10'
    '-D FURNACE_HEATER_BUTTON_NOT_PRESSING_ANGLE=90'
    '-D FURNACE_HEATER_BUTTON_PRESSING_MILLISECONDS=2000'

    '-D OTA_UPDATE_PASSWORD_MD5="${secret.ota_upload_password_md5}"'
