[secret]

wifi_ssid = CHANGE_ME_TO_THE_REAL_SSID
wifi_password = CHANGE_ME_TO_THE_REAL_WIFI_PASSWORD

web_server_host_name = myesp8266
web_server_port = 80

ota_upload_host_name = myesp8266
ota_upload_host = myesp8266.local
ota_upload_port = 8266
ota_upload_password = MYPASSSWORDHERE
ota_upload_password_md5 = CHANGE_ME_TO_THE_GENERATED_MD5
